/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html {
  background-color: rgb(56, 113, 182);
  size:10px;
  font-size:16px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/



/* ul{
  display: inline;
  text-align: center; 
} */
#wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */
  max-width: 960px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */

}
 .mainBody h1 {
  text-align: center;
}
 #wrapper .mainBody {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 
 .bodyWrap{
  background-color: aliceblue;
  /* float: left; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; 
  /* height: 200px; */
  margin: 0 0 50px 0;
}
.errorHelp{
  height: 210px;
} 
.signWrap{
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; 
  height: 450px;
}
.loginWrap{
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%; 
  height: 250px;
}

.profileWrap {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profileWrap > h2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(41, 82, 83);
  border-radius: 4px;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus {
  width: 130%;
}

.skew {
  /* width: 150%; */
  /* transform: rotateX(-75deg) translateZ(40px); */
  color: rgb(221, 209, 44);
  /* margin: 50px, 50px; */
  transform: perspective(30px) rotateX(10deg);
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  float: left;
}

li a {
  display:block;
  padding: 8px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  
  background-color: rgb(59, 53, 53);
  
}

li button {
  display:block;
  padding: 8px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgb(59, 53, 53);
}

li a:hover, li button:hover {
  background-color: rgba(70, 149, 246, 0.864);
  color: white;
}
.active {
  background-color: rgb(212, 212, 234);
  color: black;
}

.navRight {
  float:right;
}

.navLeft {
  float:left;
}


.signup, .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup > button{
  background-color: rgba(59, 176, 53, 0.826);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.characterSelect, .buttonsInBody {
  background-color: rgb(1, 1, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  width: 50%;
  padding: 3px 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.characterSelectTwo, .buttonsInBodyTwo {
  background-color: rgb(1, 1, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  width: 50%;
  padding: 3px 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.buttonsInBody {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.notSignedInResults {
  background-color: rgb(1, 1, 1);
  width: 50%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  
}

#wrapper .footy {
  background-color: blanchedalmond;
  /* display: flex;
  align-items: row;
  justify-content: center; */
  float:left;
  width: 100%;
  padding: 25px;
  height: 100%;
}

.button {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 1px;
}
.leftFoot {
  float: left;
  width: 50%;
}
.leftFoot > span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-decoration: solid;
}
.unafiliated {
  font-size: 11px;
}

dl {
  float: left;
  width: 50%;
  overflow: hidden;
  font-size: 20px;
    /* background: #ff0; */
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  /* background: #cc0; */
  padding: 0;
  margin: 0
}
dd {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  /* background: #dd0; */
  padding: 0;
  margin: 0
}

h1 + section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.battle {
  display: flex;
  justify-self: center;
  align-items: center;
}




/* 
section {
  
} */